body {
      background-color: #171a4a;
      transition: background-color 0.5s, color 0.5s;
      color: black;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
}
nav {
text-align: center; /* Centra el texto dentro del elemento nav */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ajusta la sombra según tus preferencias */
position: fixed; /* Fija la posición del nav */
width:100%;
border-color: white;
border-bottom:10px;
font-weight: bold;
}
nav::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.308); /* Cambia el color según tus preferencias */
}

nav ul {
list-style: none; /* Elimina los estilos de la lista, como los puntos de viñeta */
margin: 0;
padding: 0;
}

nav a {
text-decoration: none;
color: black; /* Cambia el color del texto según tus preferencias */
padding: 5px 10px; /* Añade espacio interno alrededor del enlace */
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-1,
.div-2 {
    font-family: Saiyajin;
    margin-right:-80px;
    height: 7.5vh;
    display: flex;
    align-items: center;
}

.div-1 {
    width: 10vw;
    justify-content: space-around;
}



.div-2 {
    font-family: Arial, sans-serif;
}

.opciones { /*ESPACIO DE OPCIONES NAV*/
    font-family: Arial, sans-serif;
    font-size: 22.5px; 
    display: inline-block; /* Muestra los elementos de la lista en línea */
    margin-right: 50px; /* Añade espacio entre los elementos de la lista (ajusta según tus necesidades) */
    margin-top:5px;
}

.opciones a {
    font-size: 22.5px;
    text-decoration: none;
    color: white; /* Cambia el color del texto del nav */
}

.opciones a:hover {
    color: rgba(255, 255, 255, 0.26); /* Cambia el color de hover según tus preferencias */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.div-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20ch;
    color: white;
}
/*TARJETAS*/
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas de tamaño igual */
  gap: 20px;
  padding: 20px;
  margin-top:100px;
}
.card {
  width: 325px;
  height: 510px;
  background-color: #ffffff88;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-content {
  padding: 20px;
  
}
.card img {
  width: 100%;
  height: 350px;
  display: block;
  border-radius: 10px 10px 0 0;
}

.card-title {
  font-size: 1.5em;
  margin-top:5px;
}

.card-text {
  font-size: 1em;
  color: #555555;
  margin-top:-19px;
}


 /* Estilo para los botones de navegación */
 .navigation-buttons {
  position: fixed;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.navigation-buttons button {
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 10px; /* Espacio entre los botones */
}

.navigation-buttons button:hover {
  background-color: #ffffff;
  color: #000000;
}

/* Estilo para las secciones */
.grid {
  display: none;
}

/* Mostrar solo la sección activa */
.grid.active {
  display: grid; /* Ajusta según la estructura de tu grid */
}

/* Estilo para la indicación de la sección actual */
#currentSectionIndicator {
  color: white;
  font-size: 18px;
  margin: 0 10px; /* Espacio entre el indicador y los botones */
}